:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  overflow: hidden; /* Disables whole page scrolling. */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #ffffff;
  background-color: var(--background-primary);

  --background-primary: #233272;
  --background-secondary: #3e5492;

  --primary-accent: #15346a;
  --secondary-accent: #70b3cd;
  --tertiary-accent: #1cc6e2;
}

header {
  background-color: var(--background-secondary);
}
